[package]
name = "rtd-default-config"
version.workspace = true
authors = ["LinkU Labs <build@linkulabs.com"]
license = "Apache-2.0"
publish = false
edition = "2024"

[lib]
proc-macro = true

[dependencies]
quote.workspace = true
syn.workspace = true
