# Checks formatting in all examples and system packages (TBD for Rtd System and Bridge)
# Uses a fixed NPM version to separate prettier-move release changes from system package
# changes.
#
# With new releases of prettier-move, update the `VERSION` in the env.
name: Move Tooling

on:
  push:
    branches: main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

env:
  FORMATTER_VERSION: 0.3.3

jobs:
  tree-sitter:
    name: Tree Sitter - run tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: external-crates/move/tooling/tree-sitter
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rs/cargo@ae10961054e4aa8b4aa7dffede299aaf087aa33b # pin@v1.0.3
        with:
          command: install
          args: tree-sitter-cli
      - run: ./run-tests.sh

  prettier-move:
    name: Move Formatter - check formatting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        working-directory:
          - examples # run on all examples
          - crates/rtd-framework/packages/rtd-framework # rtd framework
          - crates/rtd-framework/packages/move-stdlib # move stdlib
          - crates/rtd-framework/packages/rtd-system # rtd system
          - crates/rtd-framework/packages/bridge # bridge
    defaults:
      run:
        working-directory: ${{ matrix.working-directory }}
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v4
      - run: npm install --no-warnings @linku/prettier-plugin-move@${{ env.FORMATTER_VERSION }}
      - run: npx prettier-move -c **/*.move
